{% extends "../layout.html" %}

{% block content %}


<div>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          {% comment %} <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> {% endcomment %}
          <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>
        </div>
      
        <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-3" action="/login" method="POST">
            {% csrf_token %}
            <div>
              <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
              <div class="mt-2">
                <input type="username" name="username" id="username" autocomplete="username" placeholder="Enter your username" required class="form__input">
              </div>
            </div>
      
            <div>
              <div class="flex items-center justify-between">
                <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                {% comment %} <div class="text-sm">
                  <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                </div> {% endcomment %}
              </div>
              <div class="mt-2">
                <input type="password" name="password" id="password" autocomplete="current-password" placeholder="Enter password" required class="form__input">
              </div>
            </div>
      
            <div>
                {% comment %} flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 {% endcomment %}
              <button type="submit" class="btn btn__primary w-full text-sm/6">Sign in</button>
            </div>
          </form>
        </div>
      </div>
</div>

{% endblock %}


