{% extends "../layout.html" %}

{% block content %}


<div>
    <div class="w-fit min-w-[400px] mx-auto flex h-full flex-col justify-center px-6 py-12 lg:px-8">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
        <div class="">
          <h2 class="text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>
        </div>
      
        <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-3" action="/login" method="POST">
            {% csrf_token %}
            <div>
              <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
              <input type="username" name="username" id="username" autocomplete="username" placeholder="Enter your username" required class="form__input">
            </div>
      
            <div>
                <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                <input type="password" name="password" id="password" autocomplete="current-password" placeholder="Enter password" required class="form__input">
            </div>
      
            <div class="!mt-4">
              <button type="submit" class="btn btn__primary py-2 shadow text-base w-full text-sm/6">Sign in</button>
            </div>
          </form>
        </div>
      </div>
</div>

{% endblock %}


