body {
  min-height: 100svh;
  height: 100%;
  width: 100%;
}

/* .message-received::before,
.message-sent::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid #9ae6b4;
  border-right: 5px solid transparent;
  border-top: 5px solid #9ae6b4;
  border-bottom: 5px solid transparent;
  right: -5px;
  top: 0;
}

.message-received::before {
  left: -5px;
}
.message-sent::before {
  right: -5px;
} */
